.head {
  display: inline-flex;
  margin: 10px 0 0 40px;
  width: 400px;
  align-items: center;
}
.head img {
  display: inline-block;
}
h1 {
  display: inline-block;
  margin-left: 15px;
}

ul {
  display: inline-block;
  margin-left: 600px !important;
  width: 500px !important;
}
.navbar-nav .nav-link {
  width: 100px !important;
  margin-left: 10px !important;
  font-size: large;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
main form select {
  display: inline-block !important;
  width: auto !important;
}
@keyframes blinker{
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink {
  text-decoration: blink;
  animation-name: blinker;
  animation-duration: 0.6s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;
}